.btn--instagram {
  background-color: #F77737; }

.btn--facebook {
  background-color: #3a5795; }

.btn--twitter {
  background-color: #55acee; }

.parrafo--resaltado {
  /*Extend*/
  background-color: #FFDC80;
  margin-top: 15px; }

.header {
  font-weight: bold; }

.header nav {
  background-color: #3CB371; }

.header nav div div {
  display: flex;
  justify-content: end; }

.header nav div div ul li a {
  margin-right: 7px;
  margin-left: 7px;
  color: #dedfe0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62,5%;
  font-family: Arial, Helvetica, sans-serif; }

.contenidoPrincipal {
  background-color: #3cb37286;
  padding: 35px; }
  .contenidoPrincipal h1 {
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .contenidoPrincipal h2 {
    font-size: 1.8rem;
    padding-top: 2rem;
    padding-bottom: 1rem; }
  .contenidoPrincipal h5 {
    font-size: 2.5rem; }
  .contenidoPrincipal h2.amarillo {
    font-size: 1.5rem;
    padding: 1rem;
    /*Mixin*/
    background-color: #FFDC80; }
  .contenidoPrincipal img {
    display: block;
    margin: auto; }

.parrafo, .parrafo--resaltado {
  font-size: 1.2rem;
  padding-bottom: 15px; }

.negrita {
  font-weight: bold; }

.video {
  display: flex;
  justify-content: center; }

footer {
  padding: 35px;
  background-color: #3CB371;
  display: flex;
  justify-content: center;
  align-items: center; }

footer li {
  list-style-type: none;
  display: inline-block;
  padding: 11px; }

footer li a {
  text-decoration: none;
  color: #ffffff; }
  footer li a:hover {
    color: yellow; }

form {
  display: flex;
  background-color: beige;
  border-radius: 3px;
  padding: 10px; }

.elementosFormulario {
  flex: 1;
  order: 1;
  margin-right: 15px; }

.elementosFormulario input {
  width: 100%; }

.elementosFormulario input,
.elementosFormulario button {
  padding: 1rem;
  margin-bottom: 1rem; }

.elementosFormulario button {
  background: #3CB371;
  color: #FFFFFF;
  border: 0; }

.divProductos {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 33%;
  margin-bottom: 10%; }

.botonProductos {
  display: flex;
  text-align: center;
  font-weight: bold;
  justify-content: center;
  align-self: center;
  background-color: #3cb37286;
  padding: 10px 20px;
  margin-top: 10%;
  border-radius: 20px;
  font-size: 15px;
  width: 50%; }

.botonProductos a {
  text-decoration: none;
  color: #000000; }

.botonProductos a:hover {
  color: #FFFFFF; }
