*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62,5%;
    font-family: Arial, Helvetica, sans-serif;
}

.contenidoPrincipal{
    background-color:$fondo-central;
    padding: 35px;

	h1{
   	 font-size: 2rem;
    
	}

	h2{
    	font-size: 1.8rem;
	}
    h2.amarillo{
    	font-size: 1.8rem;
        padding: 15px;
        @include color-subtitulo;
	}

}

.parrafo{
    font-size: 1.2rem;
    padding: 20px;
}