*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62,5%;
    font-family: Arial, Helvetica, sans-serif;
}

.contenidoPrincipal{
    background-color:$fondo-central;
    padding: 35px;

	h1{
   	 font-size: 2rem;
    
	}

	h2{
    	font-size: 1.8rem;
        padding-top: 35px;
	}
    h2.amarillo{
    	font-size: 1.5rem;
        padding: 15px;
        @include color-subtitulo;
	}

    img{
        display:block;
        margin:auto;
        }
        

}

.parrafo{
    font-size: 1.2rem;
    padding-bottom: 15px;
}

.negrita{
    font-weight:bold;
}

.video {
    display: flex;
    justify-content: center;
}
