footer{
    padding-top: 20px;
    background-color:$fondo-footer;
    display: flex;
    justify-content:center;
    align-items: center;
}
footer li{
    list-style-type: none;
    display: inline-block;
    padding: 11px;  
}

footer li a{
    text-decoration: none;
    color: #ffffff;
}