form {
    display: flex;
    background-color: beige;
    border-radius: 3px;
    padding: 10px;
  }

  .elementosFormulario {
    flex: 1; 
   order: 1;
    margin-right: 15px; 
 }
 .elementosFormulario input {
   width: 100%;
 }
 .elementosFormulario input,
 .elementosFormulario button {
   padding: 1rem;
   margin-bottom: 1rem;
 }
 .elementosFormulario button {
  background: #3CB371;
  color: #FFFFFF;
  border: 0;
 }