.header {
    font-weight: bold;
  }
    .header nav {
      background-color: #3CB371 !important; }
      .header nav div div {
        display: flex;
        justify-content: end; }
        .header nav div div ul li a {
          margin-right: 7px;
          margin-left: 7px;
          color: #dedfe0 !important; }