$fondo-central:#3cb37286;
$fondo-footer:#3CB371;

$redes:(/*Mapa redes sociales*/

instagram:#F77737,
facebook:#3a5795,
twitter:#55acee
);
@each $red, $color in $redes{
	.btn--#{$red}{
		background-color:$color;
	}
}

.parrafo--resaltado{ /*Extend*/
	@extend .parrafo;
	background-color: #FFDC80;
	margin-top: 15px;
}

@mixin color-subtitulo {/*Mixin*/
	background-color: #FFDC80;
  }